span{
	color:black;
	font-size:30px;
	padding:50px;
	font-weight:bolder;	
	font-style:inherit;
	font-family: :Verdana, Geneva, Tahoma, sans-serif;
}
img
{
	margin-top:-20px;
	padding:10px;
	margin-left:50px;
}